<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>quen mat khau</h2>
<label>Email :</label>
<input type="text" id="email">  </br>
<button id="btn">Gui</button>


<script>
    const emailEl = document.getElementById("email");
    const btn = document.getElementById("btn");

    btn.addEventListener("click", async () => {
        try {
            let email = emailEl.value;
            const data = await fetch(`/api/v1/auth/forgot-password?email=${email}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },

            })
            if (data.status == 200) {
                alert("vui long kiem tra email");
            }
        } catch (e) {
            console.log(e)
        }
    })
</script>

</body>
</html>