<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:if="${not isValid}">
    <h2 th:text="${message}">Nội dung lỗi</h2>
</th:block>

<th:block th:if="${isValid}">
    <h2>Đổi mật khẩu:</h2>

    <label>Mật khẩu mới:</label>
    <input type="password" id="password">  <br>

    <label>Nhập lại mật khẩu:</label>
    <input type="password" id="confirm-password">  <br>

    <button id="btn">Đổi mật khẩu</button>

</th:block>
<script>
    const btn = document.getElementById("btn");
    const confirmPassword = document.getElementById("confirm-password");
    const passwordEl = document.getElementById("password");

    const request = {
        confirmPassword : confirmPassword.value,
        password : passwordEl.value
    }
    btn.addEventListener("click", async () => {
        try {
            const data = await fetch(`/doi-mat-khau?token=${token}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body : JSON.stringify(request)
            })
            if (data.status == 200) {
                alert("vui long kiem tra email");

            }
        } catch (e) {
            console.log(e)
        }
    })
</script>
</body>
</html>
